*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #f0ece0;
}

h1{
	display: flex;
    justify-content: center
}

h2{
	display: flex;
    justify-content: center;
    font-weight: 100;
    font-style: italic;
    margin-bottom: 0;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
}

.list-decor{
	padding: 30px;
    padding-top: 12px;
    background-color: #e6e4dd;
    border-radius: 10px;
    border-color: black;
    border: 1px solid;
    display: grid;
    width: 80%;
    margin: 20px auto;
    grid-gap: 4px;
}

hr{
	width: 70%;
	border-color: #e2d9d97d;
}
@media screen and (min-device-width: 1200px){
	.list-books{
	display: grid;
	grid-gap: 4px;
	grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
	}
}
@media screen and (max-device-width: 1199px){
	.list-books{
	display: grid;
	grid-gap: 4px;
	grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
	}
}

.card{
	border-radius: 0.75rem;
    border: 1px solid;
}

footer.blockquote-footer{
	display: flex;
	justify-content: flex-end;
}
a{
	color: black;
}
a:hover{
	color: #729fd0;
	text-decoration: none;
	font-size: x-large;
	font-style: italic;
}
a{
	transition-property: color, font-style, font-size;
	transition: 1s;
}

p{
	text-align: center;
}