{% extends 'main/base.html' %}
{% block content %}
{% for list in all %}
	<div class="list-decor">
		<div class="title">
			<h2>{{list}}</h2>
			<hr>
		</div>
		<div class="list-books">
			{% for book in books %}
				{% if list == book.list_book %}
				<div class="card p-3">
				    <blockquote class="blockquote mb-0 card-body">
				    {% if book.url %}
				      <a href="{{book.url}}"><p>{{book.title}}</p></a>
				    {%else%}
				    <p>{{book.title}}</p>
				   	{% endif %}
				      <footer class="blockquote-footer">
				        <small class="text-muted">
				          <cite title="Source Title">{{book.author}}</cite>
				        </small>
				      </footer>
				    </blockquote>
				  </div>
				{% endif %}
			{% endfor %}
		</div>
	</div>
{% endfor %}
{% endblock %}