{% extends 'main/base.html' %}
{% block content %}
{% for list in all %}
	<div class="list-decor">
		<div class="title">
			<h2>{{list}}</h2>
			<hr>
		</div>
		<div class="list-books">
			{% for book in books %}
				{% if list == book.list_book %}
				<div class="book-items">
					<div class="card-body" id="card-body">
					    {% if book.url %}
					    	<a class="data-btn" href="{{book.url}}"><h5 class=" card-title">{{book.title}}</h5></a>
					    {% else %}
					    	<h5 class="card-title">{{book.title}}</h5>
					    {% endif %}
					    <small><p class="card-text">-{{book.author}}-</p></small>
					  </div>
				</div>
				{% endif %}
			{% endfor %}
		</div>
	</div>
{% endfor %}
{% endblock %}